
<div class="form">
  <h2>Mad Libs</h2>
  <input class="list" type='text' ng-model='user.color' placeholder='Color'><br>
  <input class="list" type='text' ng-model='user.bodyPart' placeholder='Body part'><br>
  <input class="list" type='text' ng-model='user.nouns' placeholder='Noun'><br>
  <input class="list" type='text' ng-model='user.verb' placeholder='Verb'><br>
  <input class="list" type='text' ng-model='user.adjective' placeholder='Adjective'><br>
  <input class="list" type='text' ng-model='user.adjectives' placeholder='Adjective'><br>
  <input class="list" type='text' ng-model='user.pronoun' placeholder='pronoun'><br>
  <button class="list" type='text'ng-click='grabName(user)'>Submit</button>
</div>
